.App {
  text-align: center;
}


.App button {
  padding: 0px 12px;
  height: 34px;
  background-color: purple;
  color: white;
  border-radius: 8px;
}

button.CloseSymbolButton {
  background-color: rgba(0, 0, 0, 0);
  color: purple;
  border: 2px solid purple;
}

.App input {
  padding: 8px 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .1);
  border-radius: 8px;
}
