/* App global */
.Button {
  padding: 0px 12px;
  height: 34px;
  background-color: #00acee;
  color: white;
  border-radius: 8px;
}

.Button svg {
  margin-left: 8px;
}

.Params .Button {
  margin-right: 8px;
  /* background-color: rgb(64, 232, 98); */
}

.Params {
  padding: 32px;
}
/* button.Button {
  background-color: rgba(0, 0, 0, 0);
  color: #00acee;
  border: 2px solid #00acee;
} */


.AddForm {
  padding: 32px;
  display: flex;
  background-color: lightgrey;
  width: max-content;
}

.AddForm label {
  position: absolute;
  line-height: 34px;
  left:16px;
}

.AddForm input {
  padding: 8px 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .1);
  border-radius: 8px;
  background-color: white;
  margin-right: 8px;
}

.AddForm .ValidationError {
display: block;
position: relative;
font-size: 12px;
color: red;
line-height: 0;
top: 10px;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}



